<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158875253048-3pf6n6jb2jlp8luvosu4h0qcge5ah5bh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158875253048-3pf6n6jb2jlp8luvosu4h0qcge5ah5bh</string>
	<key>API_KEY</key>
	<string>AIzaSyBsHrW5SI13ajzJRo38E6XKbq05WzY3ku8</string>
	<key>GCM_SENDER_ID</key>
	<string>158875253048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fernandogarciag.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-585b6</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-585b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158875253048:ios:7e1b5f4877af63cbd229cd</string>
</dict>
</plist>